.navBar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222121;
  }

  li {
    float: left;
  }

  li span {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  li span:hover:not(.active) {
    background-color: #024b9f;
  }

  .active {
    font-weight: bold;
    background-color: #1565c0;
  }
}
